.header-sticky {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header-sticky::-webkit-scrollbar {
  display: none;
}

.search-overlay {
  transition: opacity 0.3s ease;
}

